@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Abel';
    src: url('assets/Abel-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Abel', sans-serif;
}