<div class="container-fluid rounded bg-white mt-5 mb-5 ">
    <div class="row justify-content-between">
        <!-- Parte Esquerda - Formulário do Funcionário -->
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-sm-2 py-md-4 py-lg-5">
                <img class="rounded-circle mt-5" width="150px"
                    src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">Gabriel Queiroz</span>
                <span class="text-black-50">gabriel.queiroz@email.com</span>
            </div>
            <div class="p-3 py-5">
                <div class="row md-2">
                    <form [formGroup]="perfilForm" class="d-grid gap-3">
                        <div class="form-group">
                            <label class="label-registro">Nome</label>
                            <input formControlName="nome" class="form-control input-style">
                        </div>

                        <div class="form-group">
                            <label class="label-registro">E-mail</label>
                            <input formControlName="email" class="form-control input-style">
                        </div>

                        <div class="form-group">
                            <label class="label-registro">Senha</label>
                            <input formControlName="senha" class="form-control input-style">
                        </div>
                        <div class="form-group d-flex flex-row gap-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label " for="exampleCheck1">Lembrar Senha</label>
                        </div>
                        <div class="form-group editar-excluir-div text-center">
                            <button class="btn btn-editar btn-sm btn-light">Editar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <ul class="nav nav-tabs" id="myTabs">
                <li class="nav-item">
                    <a (click)="setTabActive('beneficios')" [ngClass]="{ 'active': tabActive === 'beneficios'}"
                        class="nav-link" id="beneficios-tab" href="#beneficios">Benefícios</a>
                </li>
                <li class="nav-item">
                    <a (click)="setTabActive('pontos')" [ngClass]="{ 'active': tabActive === 'pontos'}" class="nav-link"
                        id="pontos-tab" href="#pontos">Pontos</a>
                </li>
                <li class="nav-item">
                    <a (click)="setTabActive('holerite')" [ngClass]="{ 'active': tabActive === 'holerite'}"
                        class="nav-link" id="holerite-tab" href="#holerite">Holerite</a>
                </li>
            </ul>

            <div class="tab-content">
                <ng-container *ngIf="tabActive === 'beneficios'">
                    <div class="p-3 py-5">
                        <h2 class="text-center">Benefícios</h2>
                        <ul>
                            <li>Vale Transporte</li>
                            <li>Convênio Bradesco Seguros</li>
                            <!-- Adicione outros benefícios conforme necessário -->
                        </ul>
                    </div>
                </ng-container>

                <ng-container *ngIf="tabActive === 'pontos'">
                    <div class="p-3 py-5">
                        <h2 class="text-center">Pontos</h2>
                        <ul>
                            <li>Entrada</li>
                            <li>Almoço</li>
                            <li>Saída</li>
                        </ul>
                    </div>
                </ng-container>

                <ng-container *ngIf="tabActive === 'holerite'">
                    <div>Holerite</div>
                </ng-container>
            </div>
        </div>
    </div>
</div>