<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pagina-holerite.component.css">
    <title>Holerites</title>
</head>
<body>

    <div class="holerite-container">
        <h1>Holerites</h1>

        <select id="selectYear">
            <option value="2023">2023</option>
            <option value="2022">2022</option>
        </select>

        <div class="calendario-container">
            <div *ngFor="let mes of meses" class="mes" [class.selecionado]="mesesSelecionados.includes(mes)" (click)="selecionarMes(mes)" [attr.data-mes]="mes.toLowerCase()">{{ mes }}</div>
        </div>

        <div class="botoes-container">
<div id="limparSelecao" class="acao" (click)="limparSelecao()">Limpar Seleção</div>

            <div id="selecionarTudo" class="acao" (click)="selecionarTodos()">Selecionar Tudo</div>
        </div>

        <div class="meses-selecionados">
            <div *ngFor="let mes of mesesSelecionados">{{ mes }}</div>
        </div>

        <button id="visualizarHolerites">Visualizar Holerite(s)</button>
        <button id="gerarPDF">Gerar PDF</button>
    </div>

    <script src="script.js"></script>
</body>
</html>