<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="entrada-pagina.component.css">
    <title>HRTech</title>
    </head>
    <body>
    <form class="login">
        <h2>Login</h2>
    <div class="box-user">
            <input type="text" name="" required>
            <label>Usuário</label>
    </div>
    <div class="box-password">
     <div class="password-container">
        <input type="password" id="passwordField" required>
        <label for="passwordField" id="passwordLabel">Senha</label>
        <button id="togglePassword" type="button">
            <img id="eyeIcon" src="https://cdn-icons-png.flaticon.com/128/709/709612.png" alt="Mostrar Senha">
        </button>
    </div>
    </div>               
    <div>
            <a href="#" class="forget">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Novo usuário
            </a>
    </div>
        <a href="#" class="btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Entrar
        </a>
    </form>
</body>
</html>
